<?xml version="1.0" encoding="utf-8"?>
<Page xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Sites.Models">
	<LastUpdateDate>2015-12-28T21:44:40.1587903Z</LastUpdateDate>
	<CacheToDisk>false</CacheToDisk>
	<RequireHttps>false</RequireHttps>
	<IsDefault>false</IsDefault>
	<EnableTheming>true</EnableTheming>
	<EnableScript>true</EnableScript>
	<HtmlMeta>
		<Author></Author>
		<Keywords></Keywords>
		<Description></Description>
		<Customs xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<HtmlTitle></HtmlTitle>
		<Canonical></Canonical>
	</HtmlMeta>
	<Route>
		<Identifier></Identifier>
		<RoutePath></RoutePath>
		<Defaults xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<ExternalUrl></ExternalUrl>
		<LinkTarget i:nil="true" />
	</Route>
	<Navigation>
		<Show>false</Show>
		<DisplayText></DisplayText>
		<Order>2</Order>
		<ShowInCrumb>true</ShowInCrumb>
	</Navigation>
	<Permission>
		<AllowGroups xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
		<AuthorizeMenu>false</AuthorizeMenu>
		<RequireMember>false</RequireMember>
		<UnauthorizedUrl></UnauthorizedUrl>
	</Permission>
	<Layout>one_column</Layout>
	<PagePositions>
		<PagePosition i:type="HtmlPosition">
			<PagePositionId>2MGQT</PagePositionId>
			<LayoutPositionId>topbar</LayoutPositionId>
			<Order>0</Order>
			<Html>&lt;p&gt;напишите нам поскорее&lt;/p&gt;</Html>
		</PagePosition>
		<PagePosition i:type="HtmlBlockPosition">
			<PagePositionId>Z6CQP</PagePositionId>
			<LayoutPositionId>topbar</LayoutPositionId>
			<Order>1</Order>
			<BlockName>оооо</BlockName>
		</PagePosition>
	</PagePositions>
	<DataRules />
	<Plugins xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<PageType>Default</PageType>
	<OutputCache>
		<Duration>0</Duration>
		<EnableCaching>false</EnableCaching>
		<ExpirationPolicy>AbsoluteExpiration</ExpirationPolicy>
	</OutputCache>
	<CustomFields xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<Published>true</Published>
	<UserName>admin</UserName>
	<ContentTitle></ContentTitle>
	<Searchable>false</Searchable>
</Page>