         <div class="section" id="social"> 
            <h1>@("Social".Label())</h1> 
            @Html.FrontHtml().RenderHtmlBlock("socialInfo")
            <ul id="social_links">
                <li><a href="http://www.kooboo.com" class="facebook">Facebook</a></li>
                <li><a href="http://www.kooboo.com" class="flickr">Flickr</a></li>
                <li><a href="http://www.kooboo.com" class="linkedin">Linkedin</a></li>
                <li><a href="http://www.kooboo.com" class="twitter">Twitter</a></li>
                <li><a href="http://www.kooboo.com" class="yahoo">Yahoo</a></li>
                <li><a href="http://www.kooboo.com" class="youtube">Youtube</a></li>
            </ul>
            <a href="#home" class="home_btn">home</a> 
            <a href="#about" class="page_nav_btn previous">Previous</a>
            <a href="#services" class="page_nav_btn next">Next</a> 
		</div>